body {
  background: linear-gradient(to right, #9737B5, #98CD8F, #C18391);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background 5s;
  font-family: sans-serif;
}
@keyframes background-transition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-image: linear-gradient(to right, #C18391, #98CD8F, #9737B5);
}
}


header {
  text-align: center;
}

.chat-bubble {
  display: flex;
  align-items: center;
}

textarea {
  width: 80%;
  height: 200px;
  border-radius: 20px;
  padding: 20px;
  font-family: sans-serif;
}

#enter-button {
  background-color: #9737B5;
  color:
white;
border-radius: 20px;
padding: 10px 20px;
font-family: sans-serif;
margin-left: 10px;
}

#response {
font-family: sans-serif;
margin: 20px;
width: 80%;
height: 200px;
border-radius: 20px;
padding: 20px;
background-color: white;
}